* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  /* text-align: center; */
  height: 100vh;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.timeline-wrapper {
  display: flex;
  justify-content: space-around;
}

.App-link {
  color: #61dafb;
}

/* navigation */

nav {
  padding: 20px;
  background-color: black;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.links {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.right-side-links:not(:last-child){
  padding-right: 20px;
}

/* Signup Login component */
.signuplogin-component {
  height: 70%;
  width: 30vw;
  /* background-color: cadetblue; */
}

.eye-password-icon {
  width: 27px;
}

/* Main chat Component */
.main-chat-wrapper {
  height: 100%;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: white;
}

.main-chat-inner-wrapper {
  height: 87.5%;
  width: 85%;
  padding: 30px;
  background-color: #edf0f5a4;
  border-radius: 20px;
  /* position: relative; */
}

.form-post {
  position: relative;
  height: 100%;
}

.room-submit-form {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  /* bottom: 10%; */
  /* flex-direction: row; */
  width: 100%;
}

.people-online-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dot-online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(152, 245, 12);
  margin-right: 10px;
}

.people-online {
  font-size: 12px;
  text-transform: uppercase;
}

.show-message-wrapper {
  height: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.mainchat-time-small {
  font-size: 10px;
}

.people-online-wrapper-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input */

.chat-submit-btn {
  /* height: 30px; */
  width: 20%;
  /* padding: 10px 20px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
}

.chat-form-content {
  height: 30px;
  width: 50%;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  z-index: 2;
}

.convo {
  height: 85%;
  width: 100%;
  overflow-y: scroll;
  /* background-color: #edf0f58f; */
  z-index: 10;
  /* border-radius: 20px; */
  border-top: 1px solid rgba(0, 0, 0, 0.10);
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.shadow {
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
}

.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.message-top {
  display: flex;
  align-items: center;
  /* padding-right: 10px; */
}

.message-bottom {
  position: re;
  font-size: 12px;
  margin-top: -3px;
}

.message-img {
  width: 43px;
  height: 43px;
  border-radius: 10%;
  object-fit: cover;
  margin-right: 10px;
}

.message-text {
  padding: 15px;
  border-radius: 20px;
  background-color: white;
  max-width: 400px;
}

.message.own {
  align-items: flex-end;
  padding-right: 10px;
}

.message.own .message-text {
  background-color: #d0d3e3;
}

/* Welcome Component */
.welcome-component {
  height: 30%;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-component-wrapper {
  height: 76%;
  width: 85%;
  /* background-color: rgba(95, 158, 160, 0.397); */
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 20px;
}

.welcome-component-content {
  /* height: 100%;
  width: 100%; */
  padding: 25px;
}

.welcome-paragraph {
  padding-top: 10px;
  font-size: 12px;
}

.close-icon {
  cursor: pointer;
}

.welcome-component-top-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

/* Signup/Login Component */
.signuplogin-component {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}

.signuplogin-component-wrapper {
  height: 90%;
  width: 85%;
  /* background-color: rgba(95, 158, 160, 0.397); */
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 20px;
}

.signuplogin-component-content {
  padding: 25px 20px;
}

.signuplogin-component-switches {
  display: flex;
  justify-content: space-evenly;
}

.login {
  /* padding-right: 90px; */
  padding: 10px 20px;
  cursor: pointer;
}

.signup {
  padding: 10px 20px;
  cursor: pointer;
}

.active {
  padding: 10px 20px;
  background-color: #edf0f5a4;
  border-radius: 10px;
}

/* Login Component */
.login-form-wrapper {
  padding-top: 30px;
}

.login-form-email:not(:last-child) {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.login-form-password {
  position: relative;
  display: flex;
  flex-direction: column;
}

.login-form-password-second {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.user-name-pointer {
  cursor: pointer;
  display: inline;
}

.name-text-input {
  width: 74%;
}

.bio-text-input {
  width: 74%;
}

input[type="email"] {
  padding: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
}

input[type="password"] {
  padding: 15px 50px 15px 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
}

input[type="text"] {
  padding: 15px 50px 15px 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
}

.eye-wrapper {
  position: absolute;
  right: 5%;
  top: 45%;
  background-color: #282c3400;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.eye-wrapper:hover {
  background-color: #282c341a;
}

.make-longer {
  width: auto;
  padding-right: 10px;
}

.enter-your-name {
  padding: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
}

.submit-btn {
  margin-top: 30px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.register-btn {
  margin-top: 9px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.label {
  margin-bottom: 5px;
}

/* Register Component */
.register-form-wrapper {
  padding-top: 30px;
}

/* Timeline Component */
/* .timeline-wrapper-rightside {

} */

/* Aside Component */
.aside-component {
  height: 100%;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-component-content {
  margin: 20px auto;
  /* padding: 10px 0px; */
  height: 83%;
  width: 95%;
  /* padding: 0px 25px 25px 25px; */
  overflow-y: scroll;
  border-top: 1px solid rgba(0, 0, 0, 0.10);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.10); */
  position: relative;
  
}

.aside-component-content-wrap {
  margin: 30px auto;
  height: 75%;
  width: 90%;
  /* padding: 0px 25px 25px 25px; */
  /* overflow-y: scroll; */
  border-top: 1px solid rgba(0, 0, 0, 0.10);
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  position: relative;
  
}

.aside-component-wrapper {
  height: 93%;
  width: 85%;
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 20px;
}

.aside-component-switches {
  margin-top: 20px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
}

.aside-title-wrapper {
  margin-top: 20px;
  padding: 0 25px 25px 0px;
}

.logout-btn {
  margin-top: 30px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}

/* Chatdetails Component */
.chatdetails-main {
  position: relative;
}

/* UserChatDetails Component */
.user-chat-detail-name {
  font-weight: 500;
  font-size: 14px;
}

/* Profile Component */
.aside-profile-wrapper {

  height: 100%;
  /* margin-top: 60px; */
  /* padding: 0px 0px 25px 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-img {
  position: relative;
  top: 10%;
  width: 125px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
}

.spacer {
  padding-bottom: 10px;
}

.user-details-wrapper-profile {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-bio-wrapper {
  margin-top: 20px;
}

.user-bio {
  text-align: center;
}

.aside-footer {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.followers-wrapper {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-profile-btn {
  margin-top: 30px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;

  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
  color: black;
  cursor: pointer;
}

.save-profile-btn {
  margin-top: 30px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;

  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
  color: white;
  cursor: pointer;
}

input[type=file]::file-selector-button {
  border: none;
  padding: 20px;
  border-radius: .2em;
  background-color: black;
  color: white;
  /* box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15); */
  transition: 1s;
  border-radius: 10px;
}

.file-upload-btn-x {
  border: 1px solid black  ;
  /* background-color: rgba(0, 0, 0, 0.10); */
  width: 86%;
  padding: 20px;
  /* border: none; */
  color: black;
  border-radius: 7px;
}

.edit-profile-btn-wrapper {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.go-back-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 3%;
  left: 0%;
  /* height: 40px;
  width: 40; */
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 5px;
}

.go-back-img {
  width: 17px;
}

/* .aside-component-content {
  margin: 30px auto;
  height: 75%;
  width: 85%;
  overflow-y: scroll;
  border-top: 1px solid rgba(0, 0, 0, 0.10);
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  position: relative;
} */

/* .css-1w77di {
  position: absolute;
} */

/* .basicspeed-nav {
  position: fixed;
  top: 10%;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
